# Build a Regression Model in Keras #

In [3]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.datasets import make_regression
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

In [4]:
# download data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
# Basic Data Exploration
concrete_data.shape

(1030, 9)

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean!

In [18]:
n_predictors_cols = concrete_data.shape[1] - 1
n_predictors_cols

8

In [11]:
predictors = concrete_data.iloc[:,0:8]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
target = concrete_data.iloc[:,8]
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## A. Build a baseline model (5 marks) ##

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [10]:
# create a regression model function
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_predictors_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

(309, 8)

2. Train the model on the training data using 50 epochs.

In [19]:
epochs = 50
model = regression_model()

model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50

C:\Users\Temiloluwa Oloye\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

23/23 - 1s - 30ms/step - loss: 13980.2236
Epoch 2/50
23/23 - 0s - 3ms/step - loss: 7043.5952
Epoch 3/50
23/23 - 0s - 3ms/step - loss: 5757.6191
Epoch 4/50
23/23 - 0s - 4ms/step - loss: 4603.5059
Epoch 5/50
23/23 - 0s - 4ms/step - loss: 3529.1165
Epoch 6/50
23/23 - 0s - 3ms/step - loss: 2702.4333
Epoch 7/50
23/23 - 0s - 4ms/step - loss: 2126.2205
Epoch 8/50
23/23 - 0s - 3ms/step - loss: 1728.7756
Epoch 9/50
23/23 - 0s - 3ms/step - loss: 1415.6372
Epoch 10/50
23/23 - 0s - 3ms/step - loss: 1193.3390
Epoch 11/50
23/23 - 0s - 3ms/step - loss: 1014.7279
Epoch 12/50
23/23 - 0s - 3ms/step - loss: 888.4074
Epoch 13/50
23/23 - 0s - 3ms/step - loss: 760.5132
Epoch 14/50
23/23 - 0s - 3ms/step - loss: 669.7020
Epoch 15/50
23/23 - 0s - 3ms/step - loss: 591.5372
Epoch 16/50
23/23 - 0s - 3ms/step - loss: 539.2336
Epoch 17/50
23/23 - 0s - 3ms/step - loss: 487.4178
Epoch 18/50
23/23 - 0s - 3ms/step - loss: 448.9488
Epoch 19/50
23/23 - 0s - 3ms/step - loss: 418.2946
Epoch 20/50
23/23 - 0s - 3ms/step - loss: 393.3171
Epoch 21/50
23/23 - 0s - 3ms/step - loss: 371.0323
Epoch 22/50
23/23 - 0s - 3ms/step - loss: 354.0309
Epoch 23/50
23/23 - 0s - 4ms/step - loss: 332.9277
Epoch 24/50
23/23 - 0s - 3ms/step - loss: 322.3130
Epoch 25/50
23/23 - 0s - 3ms/step - loss: 306.5087
Epoch 26/50
23/23 - 0s - 3ms/step - loss: 297.5352
Epoch 27/50
23/23 - 0s - 3ms/step - loss: 288.0074
Epoch 28/50
23/23 - 0s - 3ms/step - loss: 278.9406
Epoch 29/50
23/23 - 0s - 3ms/step - loss: 275.7481
Epoch 30/50
23/23 - 0s - 3ms/step - loss: 263.5799
Epoch 31/50
23/23 - 0s - 3ms/step - loss: 255.3998
Epoch 32/50
23/23 - 0s - 3ms/step - loss: 253.6047
Epoch 33/50
23/23 - 0s - 3ms/step - loss: 247.0052
Epoch 34/50
23/23 - 0s - 3ms/step - loss: 237.1704
Epoch 35/50
23/23 - 0s - 3ms/step - loss: 233.5093
Epoch 36/50
23/23 - 0s - 3ms/step - loss: 229.3133
Epoch 37/50
23/23 - 0s - 3ms/step - loss: 222.8913
Epoch 38/50
23/23 - 0s - 3ms/step - loss: 218.7952
Epoch 39/50
23/23 - 0s - 3ms/step - loss: 214.7139
Epoch 40/50
23/23 - 0s - 3ms/step - loss: 211.6063
Epoch 41/50
23/23 - 0s - 3ms/step - loss: 207.6878
Epoch 42/50
23/23 - 0s - 3ms/step - loss: 205.4570
Epoch 43/50
23/23 - 0s - 3ms/step - loss: 199.9609
Epoch 44/50
23/23 - 0s - 3ms/step - loss: 196.8346
Epoch 45/50
23/23 - 0s - 3ms/step - loss: 195.0549
Epoch 46/50
23/23 - 0s - 3ms/step - loss: 190.6086
Epoch 47/50
23/23 - 0s - 3ms/step - loss: 186.4089
Epoch 48/50
23/23 - 0s - 3ms/step - loss: 185.4364
Epoch 49/50
23/23 - 0s - 3ms/step - loss: 184.3304
Epoch 50/50
23/23 - 0s - 3ms/step - loss: 177.8181

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [20]:
y_pred = model.predict(X_test)

evaluation_score = mean_squared_error(y_test, y_pred)
evaluation_score

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

np.float64(179.4644665267344)

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [24]:
import warnings

# Suppress all warnings
warnings.filterwarnings("ignore")

total_mse = 50
mse_list = []

for i in range(total_mse):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)
    model = regression_model()
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    y_pred = model.predict(X_test)
    mse_list.append(mean_squared_error(y_test, y_pred))
    print('MSE ' + str(i+1) + ' : ' + str(mse_list[i]))

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 1 : 126.70196767707479
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 2 : 120.03220932859335
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 3 : 147.13948690177392
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 4 : 1428.836221040456
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 5 : 385.6817266607889
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 6 : 886.0607181918903
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 7 : 232.07644833955393
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 8 : 128.74748747149638
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 9 : 135.5046369325258
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 10 : 154.94208234698323
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 11 : 155.91875743285274
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 12 : 140.90127116890528
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 13 : 108.57489144806134
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 14 : 247.75455389450417
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 15 : 212.2465649986462
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 16 : 166.81631895641178
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
MSE 17 : 221.90754883284302
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 18 : 188.05168845150533
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 19 : 702.4497915531083
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 20 : 124.69906724758798
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 21 : 280.3531889009573
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 22 : 110.93444134152863
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 23 : 124.2178007858702
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 24 : 107.09402491653746
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 25 : 104.12176149952
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 26 : 109.42767071314738
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 27 : 1442.6352357677667
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 28 : 464.26229297150604
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 29 : 253.10121108713744
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 30 : 114.15922336646541
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 31 : 146.3716180509308
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 32 : 120.10647812139145
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 33 : 164.6638651861768
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 34 : 497.30026468640193
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 35 : 163.7642383267681
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 36 : 418.1078686757583
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
MSE 37 : 177.4953363000258
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
MSE 38 : 1025.4424296480504
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 39 : 154.6404180998399
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 40 : 241.44760397766603
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 41 : 262.86561110474975
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
MSE 42 : 167.02615330231774
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 43 : 164.63585001933063
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 44 : 282.6245850882153
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
MSE 45 : 145.243963550123
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 46 : 296.3547528669775
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 47 : 447.8845473948194
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE 48 : 661.2245917102081
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 49 : 1507.4093822731709
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
MSE 50 : 102.89009146691573

5. Report the mean and the standard deviation of the mean squared errors.

In [25]:
mean_of_mse = np.mean(mse_list)
std_of_mse = np.std(mse_list)

print('Mean of MSE : ' + str(mean_of_mse))
print('Standard Deviation of MSE : ' + str(std_of_mse))

Mean of MSE : 325.4569988015167
Standard Deviation of MSE : 347.9430880505921